img {
  border-radius: 50%;
}

body {
  background-color: #E8F9FD;
}

hr {
  border-top: dotted;
  border-bottom: none;
  width: 10%;
  border-color: #D3CEDF;
  height: 10%;
  border-width: thick;
  border-left: none;
}

#Para1{
text-align: center;
}
.heading {
  color:#2D4263;
}
